.contact-info {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-link {
  text-decoration: none;
  display: block;
}

.contact-item {
  padding: 1rem;
  background-color:#6120f8be; 
  border-radius: 8px;
  color: #ffffff; 
  font-weight: 500;
  transition: all 0.3s ease; 
  border: 1px solid rgb(98, 0, 255);

}

.contact-item:hover {
  background-color: #410e80; 
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(74, 0, 128, 0.2); 
  cursor: pointer; 
}

@media (max-width: 480px) {
  .contact-item {
    padding: 0.75rem;
  }
}